#profile {
  .form {
    .privacyPolicy {float:right;}
    .field {padding:0 0 6px 0;
      label {display:inline-block; font-weight:700; width:192px;}
      input {@include formElement; width:346px;}
      #form_profileCountryId, #form_profileLanguage {width:350px;}
      #form_profileTitleId {width:122px;}
      #form_profileEmail {margin-bottom:10px;}
    }
    .dropdown{padding:0 0 6px 0;
        label {display:inline-block; font-weight:700; width:192px;}
        select {@include formElement;}
    }
    p{margin-bottom:0px;}
    .checkbox{margin:5px 0;}
  }
}