.dateLimiter {clear:both; display:block; margin:0; padding:10px 0 13px 0; width:100%; 
    span {float:left; font-size:1.3em; line-height:1.85em; margin:0 10px;}
    .dropdown {float:left;
    	select.disabled{@include opacity(0.4);}
    }
    .checkboxContainer {float:left; margin:0; padding-top:3px;}
}