/*   RibbonBar
---------------------------------------------- */
.ribbonBar {background-color:#eee; font-size:1.2em; height:82px; width:100%; /*padding-top:41px; */
	.ribbonBarWrapper {margin:0 auto; padding:0 20px; width:980px;
		ul {
			li {float:left;
				a {background-repeat:no-repeat; background-position:50% 5px; color:#000; display:block; height:27px; @include opacity(0.6); padding:55px 20px 0; text-decoration:none; 
					&.separator {border-right:#8c8c8c dotted 1px;}
					&#ribbon-search-1 {background-image:url("#{$assetPath}/ribbon-search-1.png");}
					&#ribbon-search-2 {background-image:url("#{$assetPath}/ribbon-search-2.png");}
					&#ribbon-search-3 {background-image:url("#{$assetPath}/ribbon-search-3.png");}
					&#ribbon-search-4 {background-image:url("#{$assetPath}/ribbon-search-4.png");}
					&#ribbon-search-5 {background-image:url("#{$assetPath}/ribbon-search-5.png");}
					&#ribbon-search-6 {background-image:url("#{$assetPath}/ribbon-search-6.png");}
					&#ribbon-search-7 {background-image:url("#{$assetPath}/ribbon-search-7.png");}
					&#ribbon-search-8 {background-image:url("#{$assetPath}/ribbon-search-8.png");}
					&#ribbon-search-9 {background-image:url("#{$assetPath}/ribbon-search-9.png");}
					&:hover {color:$mainProductColor; @include opacity(1);}
				}
			}
		}
	}
}