#newsBlock{padding-top:18px;
    .textButton{float:right;}
    #twitterFeed{background:$newsBackground;border-top:#B180B3 solid 1px;border-bottom:#B180B3 solid 1px;clear:both;overflow:auto;padding:10px 23px 10px 23px;
        img{float:left;}
        .twitterText{font-size:1.1em;margin:0 0 10px 20px;
            .twitterDate{clear:both;color:#999;display:block;}
        }
        .rssLink{display:block;float:right;
            span{float:right;}
        }
        .twitterLink{display:block;float:right;
            span{float:right;}
        }
    }
}