#loginDialog{@include gradient3Color(#EEEEEE, #E9E9E9, #E3E3E3);border-radius:10px;display:none;font-size:0.8em;margin:5%;overflow:auto;position:absolute;top:20px;width:90%;z-index:2000;
    h2{@include gradient3Color($mainProductColor, lighten($mainProductColor, 3%), lighten($mainProductColor, 6%));color:#fff;font-size:1.5em;line-height:30px;margin:0;border-radius:10px 10px 0 0;box-shadow: 0px 2px 5px #999;text-align:center}
    .closeButton{right:8px;top:8px;}
    .dialogContent{@include gradient3Color(#F3F3F3, #EEEEEE, #F0F0F0);font-size:1.2em;
        .description{padding-left:5px;margin:10px auto;text-align:center;}
        .field{margin:auto;width:70%;
            input#form_userName{border-radius:10px;}
            input#form_password{border-radius:10px;margin-top:10px;}
            input{line-height:1.5em;margin:0;opacity:0.8;padding:1%;width:98%;}
            label{display:block;float:left;font-weight:bold;padding:1px 18px 2px 9px;width:125px;}
        }
        .textButton{display:block;font-size:1em;margin:10px auto;text-align:center;width:100%;}
        .formOperators{margin-top:20px;overflow:auto;
            a{@include gradient2Color(#bbb, #ccc);border:1px solid #0B3160;border-radius:2px;color:#0B3160;float:left;font-size:1.2em;font-weight:700;margin:1% 2%;padding:2%;width:40%;text-decoration:none;text-align:center;
                &.login{float:left;}
            }
        }
    }
    .hintText{font-size:1.5em;margin:2%;text-align:right;}
}